<link rel="stylesheet" href="/css/admin/layout.css">
<div class="sidebar">
    <div class="sidebar-header">
      <h4>Admin Panel</h4>
    </div>
    <nav class="sidebar-nav">
      <ul>
        <!-- <li class='active' : ''"> -->
          <li>
          <a href="/admin/dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
        </li>
        <li class=" 'reports' ? 'active' : '' ">
          <a href="/admin/report"><i class="fas fa-flag"></i> Reports</a>
        </li>
        <li class=" 'content' ? 'active' : ''">
          <a href="/admin/education"><i class="fas fa-file-alt"></i>Education</a>
        </li>
        <li class="'hotspots' ? 'active' : ''">
          <a href="/admin/hotspots"><i class="fas fa-map-marked-alt"></i> Hotspot Mapping</a>
        </li>
        <li class="'users' ? 'active' : '' ">
          <a href="/admin/community"><i class="fas fa-users"></i>Community</a>
        </li>
        <li class=" 'support' ? 'active' : '' %>">
          <a href="/admin/support"><i class="fas fa-headset"></i> Support Tickets</a>
        </li>
        <li class=" 'settings' ? 'active' : '' %>">
          <a href="/admin/settings"><i class="fas fa-cog"></i> Settings</a>
        </li>
      </ul>
    </nav>
  </div>